.login{
   background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo{
    width: 12.6rem;
   /* margin-top: 43.6%;*/
   /* margin-top: 40%;*/
    margin-top: 43.6%;
}

.login__img{
    margin-top: 20rem;
}